PORT=8080
NODE_ENV=production
ADMIN_PASSWORD=cambia_esta_password
COOKIE_SECURE=true
COOKIE_SAME_SITE=lax
# Opcional si separas frontend y backend en dominios distintos
# FRONTEND_ORIGIN=https://crm.tudominio.com
# ALLOW_VERCEL_PREVIEWS=false
